#mainmenu {
    padding-top: 1.125rem;
    padding-bottom: 1.125rem;

    @media (min-width: 768px) {
        padding-top: 3.125rem;
        padding-bottom: 3.125rem;
    }


    .navbar-brand {

        img {
            width: 160px;
            height: auto;
        
            @media (min-width: 768px) {
                width: 240px;
            }
        
        }
    }

    .nav-item {
        font-family: 'Roboto Slab', serif;
        font-size: 1.125rem;
        margin-left: 2.0625rem;

        a {
            color: $dark;

            &:hover {
                color: $teal;
            }
        }
    }
}